footer {
    padding: 30px 0;
    background-color: var(--brand_clr);
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_wrapper .footerSocial_icon {
    display: flex;
    column-gap: 64px;
}

.footer_wrapper .footerSocial_icon i {
    color: #EEEDDE;
    font-size: 18px;
    transition: all linear .3s;
}
.footer_wrapper .footerSocial_icon i:hover {
   color: var(--primary_clr);
}